/* Standard Styling Throughout Page */
html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Signika Negative", sans-serif;
}

* {
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.2;
  opacity: 0.8;
}

/* Hidden Text */
.newsletter .mobile-view {
  display: none;
}

/* Heading Styling */
header {
  background-color: white;
  color: black;
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  align-items: center;
  top: 0;
}

/* Logo and Heading */
.logo {
  margin-left: 1.5rem;
}

.logo img {
  height: 2rem;
  margin-right: 0.3rem;
}

.heading span {
  opacity: 0.5;
}

/*Nav Styling */
nav a {
  padding-left: 2rem;
  text-decoration: none;
  color: black;
  opacity: 0.8;
  transition: color 200ms ease-out 50ms;
}

nav a:hover {
  color: #778899;
}

nav a .login {
  transition-property: color;
  transition-duration: 200ms;
}

.login:active {
  color: #dc143c;
}

nav {
  margin-right: 1.5rem;
}

/* Banner Styling */
#banner {
  background-color: rgba(63, 64, 63, 0.2);
  position: relative;
  margin-top: 4rem;
}

.large-banner img {
  width: 100%;
  padding: 2rem;
}

.headline {
  padding: 2rem;
  opacity: 0.8;
}

.headline h2 {
  font-size: 3.3rem;
  line-height: 1.1;
}

.headline h3 {
  font-weight: 200;
}

.headline h2, h3 {
  padding-bottom: 2rem;
}

.headline h4 {
  text-align: center;
  font-weight: 500;
}

.headline .login-button {
  border-radius: 2px;
  background-color: rgba(63, 64, 63, 1);
  width: 50%;
  padding: 0.5rem;
  opacity: 1;
  transition-property: background-color;
  transition-duration: 750ms;
}

.login-button:hover {
  background-color: cadetblue;
}

h4 a {
  text-decoration: none;
  color: white;
}


/* Information Styling */
.content {
  margin: 0 2rem;
}

.content p {
  padding: 1.5rem 0;
  word-spacing: 0.1rem;
  font-weight: 200;
  font-family: "Rambla", sans-serif;
}

.next-banner {
  width: 60%;
  padding: 2rem;
}
.next-banner img {
  width: 100%;
  margin: 0;
}

/* Side Info Styling */
.info-col-2 {
  justify-content: flex-start;
  width: 40%;
  border-left: 0.5px solid rgba(63, 64, 63, 0.5);
  padding-top: 1rem;
}

.info-col-2 img {
  margin-left: 1rem;
}

.info-text {
  padding: 2rem;
}

.side {
  width: 35%;
  margin: 1rem;
}

.side img {
  width: 100%;
  height: auto;

}

.lecturer {
  background-color: rgba(63, 64, 63, 0.2);
}

.info-text h3 {
  font-weight: lighter;
  padding-top: 1rem;
}

.info-text a {
  text-decoration: none;
  color: cadetblue;
  transition: color 250ms linear 100ms;
}

.info-text a:hover {
  color: #ffa500;
}

.info-text h3,
.info-text p {
  padding-bottom: 0.5rem;
}


/* Courses Styling */
.course {
  background-color: rgba(63, 64, 63, 0.1);
  padding: 2rem 0;
}

.course h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

.courses {
  margin: 0 4.5rem;
}

.course-box {
  width: 33.33%;
  padding: 1rem;
  background-color: white;
  }

.course-img {
  margin-bottom: 1rem;
  }

.course-img img {
  width: 100%;
  height: auto;
}

.course-box h3 {
  margin: 0.5rem 3rem 0.5rem 1rem;
  font-weight: lighter;
}

.course-box h4 {
  font-weight: 100;
  margin: 0 3rem 0 1rem;
  opacity: 0.8;
  font-size: 1rem;
}

.course-box p {
  font-weight: 100;
  text-align: left;
  word-wrap: normal;
  margin: 0.5rem 3rem 0 1rem;
}


/* Thesis */
#thesis h2 {
  padding: 2rem 0;
  text-align: center;
  font-weight: 700;
}

.video {
  width: 60%;
  margin: 0 1.5rem 1.5rem 2rem;
}

.video video {
  width: 100%;
  height: auto;
}

.video h3 {
  width: 100%;
  margin: 1.5rem 0 0.5rem 0;
}

.video p {
  width: 90%;
  text-align: justify;
}

/* Side Thesis Styling */
.thesis-side {
  width: 40%;
}

.thesis-img {
  width: 35%;
  height: auto;
  padding: 0;
}

.thesis-img img {
  width: 100%;
  margin: 0;
  padding: 1rem;
}

.thesis-text {
  width: 60%;
  margin-right: 2rem;
}

.thesis-text h3 {
  margin-bottom: 1rem;
  font-weight: lighter;
}


/* Footer Styling */
footer {
  border-top: 0.5px solid rgba(63, 64, 63, 0.5);
  padding:3rem;
  background-color: black;
  color: white;
}

footer a {
  padding-left: 1rem;
  text-decoration: none;
  color: white;
  opacity: 0.8;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transition-delay: 200ms;
}

footer a:hover {
  color: rgb(100, 200, 360);
}

footer span {
  font-size: 1rem;
  line-height: 1.2;
  opacity: 0.8;
}

.social {
  margin-bottom: 2rem;
  text-align: center;
}

.icon {
  justify-content: center;
  margin-bottom: 3rem;
}

.icon i {
  padding: 0 1rem;
}

.social a:hover {
  color: red;
}



/* Media Queries */
@media only screen and (min-width: 960px) and (max-width: 1600px) {
  header.mobile {
    visibility: hidden;
  }

  header.desktop {
    visibility: visible;
  }
}

@media only screen and (max-width: 960px) {
  header.mobile {
    visibility: visible;
  }

  header.desktop {
    visibility: hidden;
  }

  .banner {
    flex-direction: column;
  }

  .headline {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .headline h2 {
    font-weight: 600;
  }


  .next-banner {
    width: 100%;
    padding: 2rem;
    margin: auto;
    border-bottom: 0.5px solid rgba(63, 64, 63, 0.5);
  }

  .information {
    flex-direction: column;
  }

  .info-col-2 {
    margin: auto;
    width: 75%;
    border-left: 0px solid rgba(63, 64, 63, 0.5);
    padding-bottom: 2rem;
  }

  .course-wrap {
    flex-direction: column;
  }

  .course-box {
    width: 75%;
    margin: 1rem auto;
  }

  .thesis {
    flex-direction: column;
  }

  .video {
    margin: auto;
    margin-bottom: 2rem;
  }

  .thesis-side {
    display: flex;
    margin: auto;
    background-color: rgba(63, 64, 63, 0.1);
    width: 100%;
    padding: 2rem;
  }

  .closing {
    padding: 0 2rem;
    border-right: 1px solid black;
  }

  .thesis-img {
    width: 100%;
  }

  .closed {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
  }

  .closed ul {
    padding: 2rem;
    justify-content: center;
  }

}
